@charset "UTF-8";
* {
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei";
    font-family--webkit-box-sizing: border-box;
      font-family--webkit-box-sizing--moz-box-sizing: border-box;
        font-family--webkit-box-sizing--moz-box-sizing-box-sizing: border-box; }
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  * button {
    outline: none;
    border: none; }
  * input[type="reset"]::-moz-focus-inner, * input[type="button"]::-moz-focus-inner, * input[type="submit"]::-moz-focus-inner, * input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none; }
  * input:focus {
    outline: none; }
  * h1 {
    font-size: 30px; }
  * h2 {
    font-size: 28px; }
  * h3 {
    font-size: 24px; }
  * h4 {
    font-size: 20px; }
  * h5 {
    font-size: 18px; }
  * h6 {
    font-size: 16px; }
  * p {
    font-size: 14px; }
  * .bread_crumb {
    font-size: 10px; }
  * h4.title {
    border-bottom: 1px solid #999999;
    padding: 10px 0;
    margin-right: 10px;
    font-weight: 600; }

html, body {
  overflow-x: hidden;
  position: relative;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: url(https://i.imgur.com/1rsgab9.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

section {
  position: relative;
  clear: both; }
  section .container {
    width: 1240px; }

.btn {
  border-radius: 100px;
  border: none;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none; }
  .btn:focus {
    outline: none; }

.btn_lgs {
  width: 280px;
  height: 42px;
  background-color: #32DFCB;
  color: #fff; }
  .btn_lgs:hover {
    background-color: #1db7a5;
    color: #fff; }

.btn_mgs {
  width: 150px;
  height: 40px;
  background-color: #32DFCB;
  color: #fff; }
  .btn_mgs:hover {
    background-color: #1db7a5;
    color: #fff; }

.btn_sgs {
  width: 90px;
  height: 42px;
  background-color: #32DFCB;
  color: #fff; }
  .btn_sgs:hover {
    background-color: #1db7a5;
    color: #fff; }

.btn_sge {
  width: 90px;
  height: 42px;
  background-color: transparent;
  border: 2px solid #32DFCB;
  color: #32DFCB; }
  .btn_sge:hover {
    color: #1db7a5;
    border: 2px solid #1db7a5; }

.btn_mge {
  width: 150px;
  height: 42px;
  border: 2px solid #32DFCB;
  background-color: transparent;
  color: #32DFCB; }
  .btn_mge:hover {
    border: 2px solid #179485;
    color: #179485; }

.btn_mwe {
  width: 150px;
  height: 42px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff; }

.btn_lbs {
  width: 280px;
  height: 42px;
  background-color: #333333;
  color: #fff; }
  .btn_lbs:hover {
    background-color: #141414;
    color: #fff; }

.btn_mbs, .setting_list .btn-default {
  width: 150px;
  height: 40px;
  background-color: #333333;
  color: #fff; }
  .btn_mbs:hover, .setting_list .btn-default:hover {
    background-color: #141414;
    color: #fff; }

.btn_sbs, .member_list .btn-default, .project_list .btn-default {
  width: 90px;
  height: 40px;
  background-color: #333333;
  color: #fff; }
  .btn_sbs:hover, .member_list .btn-default:hover, .project_list .btn-default:hover {
    background-color: #141414;
    color: #fff; }

.btn_sbe {
  width: 90px;
  height: 38px;
  background-color: transparent;
  border: 1px solid #333333;
  color: #333333; }
  .btn_sbe:hover {
    color: #141414;
    border: 1px solid #141414; }

nav.navbar.at_top {
  background-color: rgba(0, 0, 0, 0.7);
  height: 68px;
  box-shadow: 0px 2px 5px rgba(51, 51, 51, 0.1); }

.navbar-default {
  border: none; }

.navbar img {
  height: 40px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer; }
.navbar .navbar-right {
  margin: 8px 20px 0 0;
  font-size: 16px; }
  .navbar .navbar-right li {
    padding: 4px 5px;
    font-weight: 600; }
.navbar .navbar-nav > li > a {
  color: #d9d9d9; }
  .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    color: #fff;
    border-bottom: 4px solid #32DFCB; }
.navbar .nav-item-dropdown {
  position: relative; }
  .navbar .nav-item-dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1; }
.navbar .dropdown-menu {
  padding: 0;
  margin-top: -2px; }
  .navbar .dropdown-menu img {
    cursor: pointer;
    width: 46px;
    height: 46px; }
  .navbar .dropdown-menu li:hover, .navbar .dropdown-menu a:hover {
    color: #fff;
    background-color: #333333; }
  .navbar .dropdown-menu .dropdown-menu-item {
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
    color: #333333; }
    .navbar .dropdown-menu .dropdown-menu-item:hover {
      background-color: #333333;
      color: #fff; }

.profile_middle .container {
  width: 1240px;
  height: 100%;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 0 40px; }
  .profile_middle .container ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 10px 0 10px;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #999999; }
    .profile_middle .container ul .active {
      border-bottom: 4px solid #32DFCB;
      color: #32DFCB;
      transition: 0.3s; }
      .profile_middle .container ul .active a {
        color: #32DFCB;
        transition: 0.3s; }
    .profile_middle .container ul li {
      float: left; }
      .profile_middle .container ul li:hover:not(.active) {
        border-bottom: 4px solid #32DFCB;
        color: #32DFCB; }
      .profile_middle .container ul li a {
        display: block;
        color: #333333;
        text-align: center;
        padding: 14px 26px;
        text-decoration: none;
        background-color: transparent; }

.mask {
  position: fixed;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); }

.error {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #333333;
  text-align: center;
  font-size: 50px; }

.error_top {
  margin-top: 200px; }
  .error_top img {
    width: 500px;
    height: 100%; }

.error_text {
  font-size: 30px;
  padding: 0 0 40px 0;
  letter-spacing: 2px;
  line-height: 36px; }
  .error_text button {
    margin-top: 20px; }

.alert, .upload_alert {
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 3px; }

.alert_success, .upload_alert_success {
  background-color: #D1F7C3;
  border-color: #39AC23;
  color: #39AC23; }

.alert_warning, .upload_alert_warning {
  background-color: #FFEACF;
  border-color: #C07D00;
  color: #C07D00; }

.alert_danger, .upload_alert_danger {
  background-color: #FFDEE2;
  border-color: #D0011A;
  color: #D0011A; }

.alert_info, .upload_alert_info {
  background-color: #BFECEB;
  border-color: #54ACA9;
  color: #54ACA9; }

.alert p, .upload_alert p {
  padding: 0;
  margin: 0; }
.alert i, .upload_alert i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 24px; }
.alert .close_alert, .upload_alert .close_alert {
  -webkit-appearance: none;
  position: relative;
  float: right;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 24px;
  line-height: 1;
  filter: alpha(opacity=40);
  opacity: 0.4; }
  .alert .close_alert:hover, .upload_alert .close_alert:hover {
    filter: alpha(opacity=70);
    opacity: 0.7; }

form.search_form {
  width: 240px;
  height: 38px;
  position: absolute;
  top: 10px; }
  form.search_form input {
    width: 100%;
    height: 100%;
    padding: 0 50px 0 20px;
    border-radius: 30px;
    border: 1px solid #333333;
    outline: none;
    box-sizing: border-box;
    font-size: 14px; }

section.section_footer {
  background-color: #999999;
  width: 1240px;
  margin: 0 auto;
  height: 80px;
  text-align: center; }
  section.section_footer p {
    padding: 20px 0;
    margin-bottom: 0;
    color: #fff;
    font-weight: 300;
    font-size: 14px; }

section.section_index_banner {
  position: relative;
  margin: 0 auto;
  background-image: url(https://i.imgur.com/aeZVZZX.png);
  max-width: 1240px;
  width: 1240px;
  height: 600px; }
  section.section_index_banner .textarea {
    text-align: center;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    section.section_index_banner .textarea h1 {
      font-size: 54px;
      border: 1px solid gray;
      display: inline-block;
      padding: 10px 30px;
      margin: 80px 0 16px 0;
      font-weight: 500; }
    section.section_index_banner .textarea h4 {
      font-size: 26px;
      border-top: 1px solid gray;
      padding-top: 12px;
      margin: 0 50px; }
    section.section_index_banner .textarea img {
      width: 440px;
      margin: 40px 0 15px 0; }

section.section_top .container {
  width: 1240px;
  height: 100%;
  margin-top: 72px;
  background-color: #fff; }
  section.section_top .container ul.bread_crumb {
    padding: 4px 0 0 14px;
    list-style: none; }
    section.section_top .container ul.bread_crumb li {
      display: inline;
      font-size: 12px; }
      section.section_top .container ul.bread_crumb li + li:before {
        padding: 8px;
        color: #333333;
        content: "/ "; }
      section.section_top .container ul.bread_crumb li a {
        color: #333333;
        text-decoration: none; }
        section.section_top .container ul.bread_crumb li a:hover {
          color: #333333;
          text-decoration: underline; }

section.member_list, .project_list {
  width: 1240px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto; }
  section.member_list .container, .project_list .container {
    width: 1100px;
    height: 100%;
    padding: 10px 10px 80px 10px;
    position: relative; }
    section.member_list .container h4.title, .project_list .container h4.title {
      border-bottom: 1px solid gray;
      padding: 10px 0;
      margin-right: 10px;
      font-weight: 700; }
    section.member_list .container .col-sm-12 button, .project_list .container .col-sm-12 button {
      float: right;
      margin: 10px 20px; }
    section.member_list .container .col-sm-12 .project, .project_list .container .col-sm-12 .project {
      width: 1000px;
      height: 100%;
      max-height: 150px;
      margin: 10px auto;
      margin-top: 14px;
      border: 1px solid #999999;
      padding: 16px 40px;
      position: relative;
      box-shadow: 0px 2px 7px rgba(51, 51, 51, 0.2);
      cursor: pointer; }
      section.member_list .container .col-sm-12 .project .name, .project_list .container .col-sm-12 .project .name {
        width: 470px;
        height: 100%;
        display: inline-block; }
        section.member_list .container .col-sm-12 .project .name h4, .project_list .container .col-sm-12 .project .name h4 {
          font-weight: 700; }
      section.member_list .container .col-sm-12 .project .status, .project_list .container .col-sm-12 .project .status {
        width: 220px;
        height: 100%;
        display: inline-block;
        margin-left: 40px;
        position: relative; }
        section.member_list .container .col-sm-12 .project .status .circle, .project_list .container .col-sm-12 .project .status .circle {
          position: relative; }
          section.member_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar, .project_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar {
            width: 200px;
            list-style: none;
            position: absolute;
            top: -70px;
            padding: 0; }
            section.member_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar li, .project_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar li {
              height: 3px;
              width: 26px;
              position: relative;
              display: inline-block; }
              section.member_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar li::after, .project_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar li::after {
                content: "";
                background-color: #32DFCB;
                border-radius: 50%;
                display: inline-block;
                height: 16px;
                width: 16px;
                left: 26px;
                position: absolute;
                top: calc(100% - 10px);
                z-index: 1; }
              section.member_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar li:first-child, .project_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar li:first-child {
                height: 0;
                margin-top: 32px; }
            section.member_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar .complete, .project_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar .complete {
              background-color: #32DFCB; }
              section.member_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar .complete::after, .project_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar .complete::after {
                background-color: #32DFCB; }
            section.member_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar .in-progress, .project_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar .in-progress {
              background-color: #adadad; }
              section.member_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar .in-progress::after, .project_list .container .col-sm-12 .project .status .circle ul.milestones_project-status-bar .in-progress::after {
                background-color: #adadad; }
        section.member_list .container .col-sm-12 .project .status .text p, .project_list .container .col-sm-12 .project .status .text p {
          position: absolute;
          top: -20px;
          margin-left: 26px;
          color: #32DFCB; }
      section.member_list .container .col-sm-12 .project .info, .project_list .container .col-sm-12 .project .info {
        width: 160px;
        height: 100%;
        display: inline-block;
        text-align: right; }
      section.member_list .container .col-sm-12 .project .more, .project_list .container .col-sm-12 .project .more {
        position: absolute;
        top: 10px;
        right: 0px;
        width: 40px;
        height: 40px; }
        section.member_list .container .col-sm-12 .project .more i, .project_list .container .col-sm-12 .project .more i {
          width: 40px;
          height: 40px;
          cursor: pointer; }
  section.member_list .table, .project_list .table {
    width: 1000px;
    margin: 20px;
    z-index: 10; }
    section.member_list .table td, .project_list .table td {
      font-size: 14px; }
  section.member_list .textarea, .project_list .textarea {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding: 0; }
    section.member_list .textarea h4.title, .project_list .textarea h4.title {
      margin: 0 0 20px 0;
      padding: 12px 20px; }
    section.member_list .textarea p, .project_list .textarea p {
      font-size: 14px;
      color: #666666;
      margin: 0 0 0 20px; }
    section.member_list .textarea #submit_new_member, section.member_list .textarea #submit_new_project, .project_list .textarea #submit_new_member, .project_list .textarea #submit_new_project {
      float: right;
      margin: 20px 60px 30px 60px; }
    section.member_list .textarea .form-group, .project_list .textarea .form-group {
      width: 400px;
      margin: 15px auto; }
      section.member_list .textarea .form-group:first-of-type, .project_list .textarea .form-group:first-of-type {
        margin-top: 40px; }
    section.member_list .textarea .control-label, .project_list .textarea .control-label {
      display: inline-block;
      width: 110px; }
    section.member_list .textarea .form-control, .project_list .textarea .form-control {
      width: 280px;
      display: inline-block;
      resize: none; }
    section.member_list .textarea .close, .project_list .textarea .close {
      padding: 15px 20px 0 0; }

.member_list .textarea {
  width: 520px;
  height: 370px; }

.project_list .textarea {
  width: 520px;
  height: 450px; }

.project_wrapper {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  min-height: 750px; }

.status_bar {
  width: 210px;
  margin: 20px 0 10px 50px;
  padding-top: 10px;
  float: left;
  display: inline-block; }
  .status_bar .status {
    width: 200px;
    height: 60px;
    margin: 10px 0;
    position: relative; }
    .status_bar .status:first-of-type {
      margin-top: 30px; }
    .status_bar .status:last-child {
      padding-bottom: 80px;
      border-bottom: 1px solid #999999; }
    .status_bar .status .status_d, .status_bar .status .status_u {
      display: inline-block; }
    .status_bar .status h3, .status_bar .status h6, .status_bar .status p {
      position: absolute;
      margin-bottom: 0; }
    .status_bar .status h3 {
      width: 44px;
      height: 44px;
      text-align: center;
      top: 0; }
    .status_bar .status h6 {
      left: 60px;
      top: 0px; }
    .status_bar .status p {
      font-size: 8px;
      left: 60px;
      top: 30px; }
  .status_bar .status_d {
    color: #32DFCB;
    width: 150px; }
    .status_bar .status_d::before {
      content: "";
      background-color: #32DFCB;
      border-radius: 50%;
      display: inline-block;
      height: 44px;
      width: 44px;
      position: absolute;
      left: 0;
      top: 10px; }
    .status_bar .status_d::after {
      content: "";
      border-right: 4px solid #32DFCB;
      width: 12px;
      height: 26px;
      position: absolute;
      top: -16px;
      left: 12px; }
      .status_bar .status_d::after:first-of-type {
        border-right: none; }
    .status_bar .status_d h3 {
      color: #fff; }
  .status_bar .status_u {
    color: #2D75A9;
    width: 150px; }
    .status_bar .status_u::before {
      content: "";
      background-color: #fff;
      border: 1px solid #2D75A9;
      border-radius: 50%;
      display: inline-block;
      height: 44px;
      width: 44px;
      position: absolute;
      left: 0;
      top: 10px; }
    .status_bar .status_u::after {
      content: "";
      border-right: 4px solid #2D75A9;
      width: 12px;
      height: 26px;
      position: absolute;
      top: -16px;
      left: 12px; }
    .status_bar .status_u h3 {
      color: #2D75A9; }

.project_content {
  width: 900px;
  height: 100%;
  margin: 20px 70px 0 0;
  display: inline-block;
  padding: 10px 40px; }
  .project_content h4 {
    position: relative; }
  .project_content span {
    font-size: 10px;
    color: #b2b2b2;
    position: absolute; }
  .project_content .step01 {
    left: 100px;
    top: 16px; }

.project_content {
  position: relative; }
  .project_content .container {
    line-height: 1.6;
    width: 840px;
    margin: 30px 0 100px 0;
    padding: 0 26px 0 0;
    min-height: 450px; }
  .project_content #back {
    position: absolute;
    bottom: 20px; }
  .project_content #save {
    position: absolute;
    bottom: 20px;
    left: 140px; }
  .project_content #next {
    position: absolute;
    bottom: 20px;
    right: 60px; }
  .project_content .m_input {
    padding: 4px 10px;
    font-size: 14px; }

.list-tabs {
  float: left;
  width: 25%; }

.content-tabs-body {
  float: right;
  width: 610px; }
  .content-tabs-body .n, .content-tabs-body .m, .content-tabs-body .v {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    padding: 0 34px; }
  .content-tabs-body .n {
    margin-right: 20px; }
  .content-tabs-body .form_title {
    border-bottom: 1px solid #999999;
    margin: -8px -20px 12px -20px; }

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: circle;
  width: 100%;
  font-size: 14px; }
  ul.tabs li {
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    border: 1px solid #fff;
    position: relative; }
    ul.tabs li.current {
      background: #fff;
      color: #333;
      border: 1px solid #999999; }
  ul.tabs .fa-caret-right {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 15px; }

.tab-content {
  border: 1px solid #999999;
  display: none;
  padding: 10px 20px;
  opacity: 0;
  font-size: 14px; }
  .tab-content table {
    width: 520px;
    margin: 20px; }
  .tab-content form {
    float: right; }
  .tab-content .method {
    width: 140px;
    height: 27px;
    margin: 3px 10px; }
  .tab-content .value {
    width: 200px;
    height: 27px; }
  .tab-content.current {
    display: block;
    opacity: 1; }

input[type=checkbox] {
  display: none; }

.check-box {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 2px solid #333333;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s; }

.check-box::before, .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 5px;
  background-color: #333333;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 2px;
  content: " ";
  -webkit-transition: opacity ease 0.5s;
  -moz-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s; }
.check-box::before {
  top: 20px;
  left: 15px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
.check-box::after {
  top: 10px;
  left: 4px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

input[type=checkbox]:checked + .check-box, .check-box.checked {
  border-color: #333333; }

input[type=checkbox]:checked + .check-box::after, .check-box.checked::after {
  height: 10px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards; }

input[type=checkbox]:checked + .check-box::before, .check-box.checked::before {
  height: 60px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards; }

.profile_banner .container {
  width: 1240px;
  height: 180px;
  background-color: #fff;
  position: relative;
  padding-top: 20px; }
  .profile_banner .container .big_avatar {
    width: 120px;
    height: 120px;
    margin: 20px 70px; }
  .profile_banner .container .id_info {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 40px;
    left: 240px; }
    .profile_banner .container .id_info h3 {
      font-weight: 900; }

.setting .container {
  width: 1240px;
  height: 800px;
  margin: 0 auto;
  background-color: #fff; }
  .setting .container h4 {
    padding: 10px 0;
    margin-bottom: 0;
    font-weight: 800; }
  .setting .container h6 {
    color: gray; }
  .setting .container p {
    font-size: 14px; }
  .setting .container .setting_list {
    width: 1100px;
    height: 0px;
    margin: 0 auto;
    border-bottom: 1px solid #999999; }
    .setting .container .setting_list .text_area {
      width: 800px;
      height: 100px;
      margin: 0 auto;
      float: left;
      padding: 10px 30px; }
    .setting .container .setting_list .button_box {
      width: 200px;
      height: 120px;
      float: right;
      position: relative; }
      .setting .container .setting_list .button_box button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
  .setting .container .setting_list01 {
    width: 1100px;
    height: 290px; }
  .setting .container .setting_list02 {
    width: 1100px;
    height: 120px; }

.wrapper {
  margin: 0 0 0 80px;
  width: 560px;
  transition: 0.15s ease;
  position: relative; }
  .wrapper .form-group.required input {
    width: 300px;
    float: right; }
  .wrapper .btn-default {
    position: absolute;
    top: 36px;
    right: -435px; }
  .wrapper.dropdown .setting_pw {
    opacity: 1;
    height: 300px; }

.setting_pw {
  padding: 20px 10px 10px 10px;
  overflow: hidden;
  transition: 0.4s ease; }
  .setting_pw label {
    text-align: right; }
  .setting_pw .form-group {
    padding: 5px 0; }
  .setting_pw .pw_input {
    width: 400px;
    float: right; }
    .setting_pw .pw_input input {
      height: 40px; }

section.section_faq, .section_about {
  width: 1240px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto; }
  section.section_faq .container, .section_about .container {
    width: 1140px;
    height: 100%;
    padding: 10px 10px 80px 10px;
    margin: 0 auto; }
    section.section_faq .container h4, .section_about .container h4 {
      border-bottom: 1px solid #999999;
      padding: 10px 0;
      margin-right: 10px;
      font-size: 22px; }

.toggle {
  width: 1080px;
  margin: 0 auto; }
  .toggle:last-child {
    border-bottom: 1px solid #999999; }
  .toggle .toggle-title {
    position: relative;
    display: block;
    border-top: 1px solid #999999;
    margin-bottom: 6px; }
    .toggle .toggle-title h5 {
      margin: 0px;
      line-height: 1;
      cursor: pointer; }
    .toggle .toggle-title .title-name {
      display: block;
      padding: 34px 34px 22px; }
    .toggle .toggle-title a i {
      font-size: 22px;
      margin-right: 5px; }
    .toggle .toggle-title:hover {
      color: #333333;
      font-weight: 600; }
    .toggle .toggle-title i {
      position: absolute;
      background: url("https://i.imgur.com/6EyiTFT.png") 0px -24px no-repeat;
      width: 30px;
      height: 30px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin: 20px;
      margin-top: 30px;
      right: 0; }
    .toggle .toggle-title.active i {
      background: url("https://i.imgur.com/6EyiTFT.png") 0px 0px no-repeat; }
  .toggle .toggle-inner {
    padding: 7px 70px 10px 70px;
    display: none;
    margin: -7px 0 6px; }
    .toggle .toggle-inner div {
      max-width: 100%; }
  .toggle .toggle-title1 {
    border-top: 1px solid #fff; }
  .toggle .title_darkgray {
    color: #333333; }

.section_about h6 {
  font-size: 20px;
  font-weight: 600;
  margin: 0; }
.section_about p {
  padding: 20px 0;
  font-size: 16px;
  line-height: 28px; }
.section_about .container {
  width: 940px; }
.section_about .img_rl img {
  width: 600px;
  right: 50%;
  transform: translateX(50%); }

/*# sourceMappingURL=style.css.map */
