subjectAltName = DNS:localhost,IP:10.140.15.199,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:localhost,IP:10.140.15.199,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:localhost,IP:10.140.15.199,IP:127.0.0.1
extendedKeyUsage = serverAuth
subjectAltName = DNS:localhost,IP:10.140.15.199,IP:127.0.0.1
extendedKeyUsage = serverAuth
