
@using System.Globalization
@using Resources
@inject ILocalizer localizer
<section class="about_banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 banner">
                <h1 class="title text-center"><strong>具備隱私保護的資料生成技術</strong></h1>
            </div>
        </div>
    </div>
</section>
<br><br>
<section class="section_about">
    <div class="container">
        <div class="row">
			<div class="col-sm-12">
				<h4>應用說明</h4>
				<p>
					資料應用驅動數位經濟快速發展，隱私外洩疑慮遽增，為了兼顧資料可用性與隱密性，生成(合成)資料集可以適用於多種情境，讓資料分析人員可以使用生成資料集，而不必獲取真正的原始資料集，從而遠離資料隱私和資料安全等議題。<br><br>本網頁是以AI深度學習技術基礎，建構全生成之去識別化資料集，符合法規要求之無從識別可能，提供與原始資料分析結果相近之生成資料。
				</p>
				<img class="img_rl" src="~/images/gan_process.png" alt="">
				<h4>生成欄位屬性選定說明</h4>
				<p>
					因運算過程中需判定欄位屬性為「類別型」與「數值型」，有些欄位看似數值型但應為類別型 (例如:教育程度9代表高中、8代表國中、7代表小學)，因此資料分析人員需具備相關背景知識判定其欄位屬性，才能進行後續的資料生成運算。
				</p>
				<h4>可用性評估方法說明</h4>
				<p>
					利用五種機器學習方法 ，包含 : XGBoost、SVM、Random Forest、Linear SVC、Logistic Regression，將原始資料(raw)及生成資料(syn.)根據使用者選取的感興趣欄位來訓練模型，呈現分類結果正確率，供使用者參考。<br><br>我們將原始資料(raw)及生成資料(syn.)分別以80%作為訓練資料、20%作為測試資料，交互建模比較。
				</p>
				<img class="img_rl" src="~/images/utility_table.png" alt="">
				<h4>生成資料評估說明</h4>
				<p>
					● 透過比較模型二預測結果正確率，由多筆生成資料中挑選出最佳生成資料，提供給資料分析人員使用模型三的方法進行模型訓練<br>
					● 模型一的預測結果可提供資料分析人員與模型三參考比較
				</p>
			</div>
        </div>
    </div>
</section>