@using Resources
@using Microsoft.AspNetCore.Mvc;
@using System.Security.Claims;
@inject ILocalizer localizer
<!DOCTYPE html>
<!--import bootstrap/wtf.html-->
<html>
<head>
    <meta charset="UTF-8">
    <title>@localizer.Text.title</title>
    <link rel="stylesheet prefetch" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/css/iconfont.css">
    @*<script src="~/js/jquery.min.js"></script>*@
    <script nonce="iclw200" src="~/js/jquery-3.6.3.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/bootstrap-table.min.js"></script>

    @*<script src="~/js/modernizr.min.js"></script>
        <script src="~/js/all.js"></script>*@
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top at_top">
        <div class="container">
            <div class="navbar-header navbar-brand">
                <img src="~/images/logo_b.png" alt="">
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li class="nav-item-dropdown">
                        <img class="menu_icon" src="~/images/menu_account.png" alt="">

                        @{
                            var useracc = "";
                            var lslogin = "";
                            useracc = ViewBag.LoginName;
                          
                        }

                        <h6 class="account" id="useracc">@useracc</h6>
                     
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
        var modal = document.getElementById('myModal');
    </script>
    @RenderBody()
    <script>
        var project_modal = document.getElementById('project');
        var new_project_btn = document.getElementById("new_project");
        var project_close_span = document.getElementById("project_close");

    </script>
    <script>
        $(function () {
            $('.noti_dropdown').on('click', function (event) {
                if ($(this).hasClass('is_active') === false)
                    $('.noti_dropdown').removeClass('is_active');
                $(this).toggleClass('is_active');
                event.stopPropagation();
                changeStatus();
            });

            $(document).click(function () {
                $('.noti_dropdown').removeClass('is_active');
            });
        });
    </script>
    <section class="section_footer">
        <div class="container">
            @*<p>@localizer.Text.web_contentlist</p>*@
        </div>
    </section>
</body>
</html>